.contactform {
  display: block;
  width: 300px;
  padding: 20px;
  margin: 0 auto;
  border: 1px solid #d8e0ea;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.label {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.label:nth-child(2) {
  margin-top: 8px;
}
.input {
  margin-top: 5px;
  padding-left: 15px;
  border: 1px solid #d8e0ea;
  border-radius: 5px;
  outline: none;
}
.input:hover,
input:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.btn {
  width: 100px;
  height: 25px;
  margin-top: 10px;

  border-radius: 5px;
  border: 1px solid #d8e0ea;
  background-color: #b8b6beab;

  cursor: pointer;
}
.btn:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
